$break-xsmall: 320px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;


body {
  padding-bottom: 3em;
}

body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 { 
  font-size: 2.25em; 
  font-weight: normal;
}

h2 { 
  font-size: 1.75em; 
  font-weight: normal; 
  margin-bottom: 20px;
}

h3 { 
  font-size: 1.5em;  
  font-weight: normal;
}

h4 { 
  font-size: 1.25em; 
  font-weight: normal;
}

h5 { 
  font-size: 1em;  
  font-weight: normal;
}

h6 { 
  font-size: 1em;  
  font-weight: normal;
}

ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

// LOGIN COMPONENT

.login-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  @media screen and (max-width: $break-medium) {
    display: none;
  }
  .login-video {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      min-height: 50%;
      min-width: 50%;
    }
  }
}

.login-hero {
  transform: translateY(30%);
  text-align: center;
  background-color: transparent;
  .login-hero-info {
    opacity: 1;
    img {
      width: 100%;
      @media screen and (max-width: $break-medium) {
        width: 75%
      }
    }
    .login-hero-info-text1 {
      font-weight: bold;
      font-size: 1.5em;
      opacity: 1
    }
    .login-hero-info-text2 {
      font-size: 1.25em;
    }
    .login-hero-info-link {
      opacity: 1.0;
      @media screen and (max-width: $break-medium) {
        margin-left: 10%;
        width: 80%
      }
    }
    .login-hero-demo {}
  }
}


// LOADING COMPONENT

.loading {
  font-size: 2em;
  float: left;
}

.loader {
  padding-top: 0.5em;
  padding-left: 0.25em;
  float: left;
  img {
    width: 2em;
    height: auto;
  }
}

// HEADER COMPONENT 

.header {
  height: 8em;
  padding-top: 1em;
  text-align: center;
  border-bottom: 0.1em solid black;
  overflow: auto;
  .header-logo {
    padding-left: 3.5em;
    float: left;
    overflow: auto;
    @media screen and (max-width: $break-medium){
      padding: 0;
      width: 100%;
    }
    img {
      @media screen and (max-width: $break-medium){
        width: 20em;
        margin: 0 auto 1em auto;
      } 
    } 
  }
  .header-user {
    padding-right: 3.5em;
    float: right;
    list-style: none;
    @media screen and (max-width: $break-medium){
      display: none;
    } 
    .header-user-pic {
      float: left;
      .header-user-pic-spotify {
        margin-top: 3em;
        height: 2em; 
        float: left;
      }
      .header-user-pic-image {
        height: 5em;
        border-radius: 3em;
      }
    }
    .header-user-dropdown {
      float: left;
      margin-left: 1em;
      margin-top: 2em;
    }
  }
}

// ARTIST LIST COMPONENT

.artist-list {
  padding: 1em;
  .artist-list-header {
    margin: 1em auto;
    font-weight: bold;
    border-bottom: 0.1em solid black;
    letter-spacing: 0.1em;
    @media screen and (max-width: $break-large){
      text-align: center;
      font-size: 0.8em;
    } 
    @media screen and (max-width: $break-medium){
      text-align: center;
      font-size: 1em;
    } 
  }
  .list-group {
    overflow: hidden;
    overflow-y: scroll;
    height: 50em;
    display: inline-block;
    @media screen and (max-width: $break-medium){
      height: 20em;
    } 
  }
}


// ARTIST COMPONENTS

.list-group-item {
  border: 0.2em solid black;
  float: left;
  letter-spacing: 0.05em;
  padding: 0.5em 1em;
  @media screen and (max-width: $break-medium){
    text-align: center;
  } 
}

.all {
  margin: 0.4em;
  cursor: pointer;
  border-radius: 1em;
  font-weight: bold;
  font-size: 0.7em;
  border: 0.2em solid black;
  float: left;
  padding: 1em;
}

.artist {
  font-family: HelveticaNeue;
  margin: 0.4em;
  cursor: pointer;
  border-radius: 1em;
  font-size: 0.8em;
  color: blue;
  @media screen and (max-width: $break-medium){
    text-align: center;
    margin: 0.5em;
  } 
}

.artistSelected {
  margin: 1em;
  cursor: pointer;
  background-color: red;
}

// MAIN COMPONENT 


.hero {
  margin: 0;
  @media screen and (max-width: $break-medium){
    // background-color: black;
  }
}


// MAP BOX COMPONENT


.map-box {
  position: absolute;
  border: 0.1em solid black;
  height: 31em;
  left: 2%;
  width: 98%;
  margin-top: 1em;
  overflow: auto;
  @media screen and (max-width: $break-medium){
    display: none;
  } 
}


// MAP COMPONENT

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.infoMarker {
  background-color: blue;
}

.map-info-window {
  color: black;
  h1 {
    margin-bottom: 0.5em;
  }
}


// RESULTS BOX COMPONENT

.results-box {
  padding: 1em;
  @media screen and (max-width: $break-medium){
    border-top: 0.1em solid black;
    margin-top: 2em;
  } 
  .results-box-header {
    margin: 1em auto;
    border-bottom: 0.1em solid black;
    letter-spacing: 0.1em;
    @media screen and (max-width: $break-large) {
      font-size: 0.8em;
      text-align: center;
    }
    @media screen and (max-width: $break-medium){
      font-size: 1em;
      text-align: center;
    } 
  }
  .results-group {
    overflow: hidden;
    overflow-y: scroll;
    height: 17em;
    @media screen and (max-width: $break-medium){
      height: 35em;
    } 
  }
}


// RESULT ITEM COMPONENT
.result-item {
  font-family: HelveticaNeue;
  padding: 0.5em;
  margin-bottom: 0.5em;
  // @media screen and (max-width: $break-medium){
  //   height: 20em;
  // } 
  a {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  .result-item-date {
  //  border-right: 0.1em solid black;
  //  margin: 0 1em;
    @media screen and (max-width: $break-medium){
      text-align: center;
      font-size: 1.5em;
    } 
  }
  .result-item-artist {
    font-weight: bold;
    @media screen and (max-width: $break-medium){
      text-align: center;
      font-size: 1.5em;
    } 
  }
  .result-item-location {
    @media screen and (max-width: $break-medium){
      text-align: center;
      font-size: 1.2em;
    } 
    .result-item-venue {
      @media screen and (max-width: $break-medium){
        width: 50%;
        // border: 0.1em solid red;
        margin: 0;
        padding: 0;
      }
    }
    .result-item-city {
      font-style: italic;
      @media screen and (max-width: $break-medium){
        width: 50%;
        // border: 0.1em solid red;
        margin: 0;
        padding: 0;
      }
    }
  }
  .result-item-time {
    @media screen and (max-width: $break-large){
      display: none;
    } 
  }
}









