body {
  padding-bottom: 3em;
}

body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 { 
  font-size: 2.25em; 
  font-weight: normal;
}

h2 { 
  font-size: 1.75em; 
  font-weight: normal; 
  margin-bottom: 20px;
}

h3 { 
  font-size: 1.5em;  
  font-weight: normal;
}

h4 { 
  font-size: 1.25em; 
  font-weight: normal;
}

h5 { 
  font-size: 1em;  
  font-weight: normal;
}

h6 { 
  font-size: 1em;  
  font-weight: normal;
}

ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

/* LOGIN COMPONENT*/

.login-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.login-video {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

.login-hero {
/*  opacity: 0.5;*/
/*  width: 30em;*/
/*  position: relative;*/
/*  top: 50%;*/
  transform: translateY(40%);
  text-align: center;
  background-color: transparent;
}

.login-hero-info img {

}

.login-hero-info {
  opacity: 1;
}

.login-hero-info-text1 {
  font-weight: bold;
  font-size: 1.2em;
  opacity: 1
}

.login-hero-info-link {
  opacity: 1.0;
}

/* LOADING COMPONENT*/
.loading {
  font-size: 2em;
  float: left;
}

.loader {
  padding-top: 0.5em;
  padding-left: 0.25em;
  float: left;
}

.loader img {
  width: 2em;
  height: auto;
}



/* HEADER COMPONENT */


.header {
  height: 8em;
  padding-top: 1em;
  text-align: center;
  border-bottom: 0.1em solid black;
}

.header-logo {
  padding-left: 3.5em;
  float: left;
}

.header-user {
  padding-right: 3.5em;
  float: right;
  list-style: none; 

}

.header-user-pic {
  float: left;
}

.header-user-pic-spotify {
  margin-top: 3em;
  height: 2em; 
  float: left;
}

.header-user-pic-image {
  height: 5em;
  border-radius: 3em;
}

.header-user-dropdown {
  float: left;
  margin-left: 1em;
  margin-top: 2em;
}

.search-box {
  border: 1px solid black;
}

.search-form {
  margin: 1em;
}

.search-form > .form-group {
  margin: 0 1em;
}

/* ARTIST LIST COMPONENT*/

.artist-list {
  padding: 1em;
}

.artist-list-header {
  margin: 1em auto;
  font-weight: bold;
  border-bottom: 0.1em solid black;
  letter-spacing: 0.1em;
}

.artist-list > .list-group {
  overflow: hidden;
  overflow-y: scroll;
  height: 62em;
  display: inline-block;
}

.list-group-item {
  border: 0.2em solid black;
  float: left;
  letter-spacing: 0.05em;
}

.all {
  margin: 0.4em;
  cursor: pointer;
  border-radius: 1em;
  font-weight: bold;
  font-size: 0.7em;
  border: 0.2em solid black;
  float: left;
  padding: 1em;
}

.artist {
  font-family: HelveticaNeue;
  margin: 0.4em;
  cursor: pointer;
  border-radius: 1em;
  font-weight: bold;
  font-size: 0.8em;
  color: blue;
}

.artistSelected {
  margin: 1em;
  cursor: pointer;
  background-color: red;
}


/* MAIN COMPONENT */


.hero {
  margin: auto 2em;
}

/* MAP BOX COMPONENT */

.infoMarker {
  background-color: blue;
}

.map-box {
  border: 0.1em solid black;
  height: 40em;
  margin-top: 1em;
  overflow: auto;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-info-window {
  color: black;
}

.map-info-window-background {
  height: 100%;
}

.map-info-window h1 {
  margin-bottom: 0.5em;
}

/* RESULTS COMPONENT */

.results-box {
  padding: 1em;
/*  margin-top: 1em;*/
}

.results-box-header {
  margin: 1em auto;
  border-bottom: 0.1em solid black;
  letter-spacing: 0.1em;
}

.results-group {
  overflow: hidden;
  overflow-y: scroll;
  height: 20em;
}

.result-item {
  font-family: HelveticaNeue
}

.result-item-header {
  
}

.result-item-ticket {
/*  position: absolute;
  padding-left: 4em;*/
}

.result-item-date {
/*  border-right: 0.1em solid black;
*//*  margin: 0 1em;*/
}

.result-item-artist {
  font-weight: bold;
}

.result-item-venue {

}

.result-item-location {

}

.result-item-city {
  font-style: italic;
}

.result-item-info {
/*  border-left: 0.1em solid black;
*/  
/*  padding-left: 2em;
*/  float: left;
}

.result-item-img {
  width: 10%;
  height: 10%;
}